#infoDisplay{
    position: fixed;
    top: 17%;
    left: 50%;
    width: 600px;
    height: 300px;
    background-color: gainsboro;
    border: 2px solid navy;
    z-index: 9999;
    display: none;
    transform: translate(-50%, -50%);
    opacity: 0.75;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
